<div class="row">
  <div class="card h-100" style="background-color: #111827; border: 1px solid #374151"></div>

  <!-- ---------------------------------------- -->
  <div class="container mt-5 projectcard">
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100" style="background-color: #111827; border: 1px solid #374151">
          <div class="card-body">
            <h5 class="card-title text-white poppins-bold">Frontend Development</h5>

            <div class="mb-2">
              <span class="badge me-1" *ngFor="let skill of frontSkills">{{ skill }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100" style="background-color: #111827; border: 1px solid #374151">
          <div class="card-body">
            <h5 class="card-title text-white poppins-bold">Backend Development</h5>

            <div class="mb-2">
              <span class="badge me-1" *ngFor="let skill of backSkills">{{ skill }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100" style="background-color: #111827; border: 1px solid #374151">
          <div class="card-body">
            <h5 class="card-title text-white poppins-bold">Tools,Methods</h5>

            <div class="mb-2">
              <span class="badge me-1" *ngFor="let skill of toolsSkills">{{ skill }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100" style="background-color: #111827; border: 1px solid #374151">
          <div class="card-body">
            <h5 class="card-title text-white poppins-bold">DateBase</h5>

            <div class="mb-2">
              <span class="badge me-1" *ngFor="let skill of database">{{ skill }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
